version: '0.1'
name: osie_provisioning
global_timeout: 600
tasks:
- name: "disk wipe"
  worker: "{{.device_1}}"
  actions:
  - name: "disk_wipe"
    image: disk-wipe
    timeout: 60
    volumes:
      - ./host-path:/container-path
    environment:
      key: value
- name: "disk partition"
  worker: "{{.device_1}}"
  actions:
  - name: "disk_partition"
    image: disk-partition
    timeout: 50
on_failure:
  image: on-failure
  timeout: 90
    volumes:
      - ./host-path:/container-path
    environment:
      key: value
on_timeout:
  image: on-timeout
  timeout: 90
    volumes:
      - ./host-path:/container-path
    environment:
      key: value
